* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background: #f5f5f5;
  color: #111;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* Header Section */

header {
  background: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

nav ul {
  display: flex;
  gap: 25px;
}

nav ul li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #575757;
  font-weight: 500;
}

.btn {
  background: #2457ff;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
}

/* Hero Section */

.hero {
  height: 786px;
  background: url("./images/banner.jpg") no-repeat center top/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.hero h1 {
  font-size: 72px;
  color: white;
  font-weight: 700;
}

.hero h1 em {
  font-style: italic;
}

.hero p {
  max-width: 700px;
  color: white;
  line-height: 1.6;
  font-size: 20px;
}

.btnbig {
  background: #2457ff;
  color: white;
  padding: 17px 36px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 260px;
}

/* Speakers Section */

.speakers {
  padding: 80px 0px;
}

.speakers h2 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 60px;
}

.speaker-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.card {
  background: white;
  border-radius: 10px;
}

.card img {
  width: 100%;
  display: block;
}

.card h3 {
  font-size: 20px;
  padding: 15px;
}

.card p {
  font-size: 14px;
  color: #575757;
  padding: 15px;
}

.card .speaker-topics {
  color: #2563eb;
  font-size: 14px;
  text-transform: uppercase;
}

/* Pricing Section */

.pricing {
  padding: 100px 0;
  background: #f5f5f5;
}

.pricing h2 {
  font-size: 64px;
  color: #10223b;
  margin-bottom: 25px;
  text-align: center;
}

.pricing p {
  color: #777;
  font-size: 18px;
  text-align: center;
  margin-bottom: 35px;
}

.pricing-flex {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.price-card {
  background: white;
  border: 1px solid #e3e3e3;
  border-radius: 14px;
  padding: 35px;
  width: 380px;
  display: flex;
  flex-direction: column;
}

.featured {
  background: #071a38;
  color: white;
}

.plan {
  font-size: 14px;
  font-weight: 700;
  color: #888;
  margin-bottom: 12px;
}

.featured .plan {
  color: #7db2ff;
}

.price-card h3 {
  font-size: 64px;
  margin-bottom: 5px;
}

.perperson {
  color: #8a8a8a;
  margin-bottom: 25px;
}

.featured .perperson {
  color: #b8c4d9;
}

.price-card hr {
  height: 1px;
  background: #e5e5e5;
  margin-bottom: 25px;
}

.featured hr {
  background: #f9f9f9;
}

.price-card ul {
  margin-bottom: 30px;
  padding-left: 13px;
}

.price-card li {
  margin-bottom: 16px;
  color: #444;
  padding-left: 5px;
}

.price-card li::marker {
  font-size: 10px;
  color: #2457ff;
}

.featured li {
  color: #e3e8f3;
}

.price-btn {
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
}

.outline-btn {
  border: 1px solid #2457ff;
  color: #2457ff;
}

.solid-btn {
  background: #2457ff;
  color: white;
}

.dark-outline-btn {
  border: 1px solid #10223b;
  color: #10223b;
}

/* Footer Section */

.footer {
  background: #071a38;
  padding: 60px 0;
}

.footer-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-items p {
  color: #8c95a8;
  font-size: 18px;
}

.footer-links {
  display: flex;
  gap: 40px;
}

.footer-links a {
  color: #8c95a8;
  text-decoration: none;
  font-size: 18px;
}

.footer-links a:hover {
  color: #ffffff;
}

/* Event News Section */

.event-news {
  padding: 80px 20px;
  background: #f9f9f9;
  color: #fff;
}

.news-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.news-header h2 {
  font-size: 36px;
  margin: 0;
  color: #111;
}
.view-all {
  color: #111;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid #38bdf8;
  padding: 8px 16px;
  border-radius: 50px;
}
.news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.news-card {
  background: #1e293b;
  padding: 30px;
  border-radius: 16px;
  transition: 0.3s ease;
}
.news-card:hover {
  background: #263548;
}

.badge {
  display: inline-block;
  background: #2457ff;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 6px 12px;
  border-radius: 50px;
  margin-bottom: 15px;
}
.date {
  color: #94a3b8;
  font-size: 14px;
  margin-bottom: 10px;
}
.news-card h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
.news-card p {
  color: #cbd5e1;
  margin-bottom: 20px;
  line-height: 20px;
}
.read-more {
  color: #2457ff;
  text-decoration: none;
  font-weight: 600;
}
